<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="css/404.css">
  </head>
  <body>
    <h1>ERROR 404</h1>
    <p> page not found</p>
    <a class="back" href='/'>go back -></a>
  </body>
</html>
