<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    {{> header}}
    <div class="terminalContainer">
      <div class="terminal">
        <p class="terminalText"> Weather Desk</p>
      </div>
      <input type="text" class="terminalInput">
    </div>
    <script src="js/extra.js"></script>
  </body>
</html>
