<div class="header">
 <div class="title">
   <div class="border">
     <p><span class="logo">Y</span><span class="logo2">our</span> 
     <span class="logo">W</span><span class="logo2">eather</span></p>
  </div>
 </div>
 <div class="navigation">
   <a class="home" href="/">home</a>
   <a class="extra" href="/extra">extra</a>
   <a class="help" href="/help">help</a>
 </div>
 </div>
