*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  height:100vh;
  font-family: monospace;
  font-size: 260%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-weight: 50;
}

p{
  margin-top: 1%;
  font-size: 150%;
}

.back{
  padding-top: 3%;
  font-size: 60%;
  text-decoration: none;
  cursor: pointer;
  color: skyblue;
}
